head
  meta(http-equiv="X-UA-Compatible", content="IE=7")
  title Login
  meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport')
  link(rel="icon" href="/assets/img/icon.ico" type="image/x-icon")

  script(src="/assets/js/plugin/webfont/webfont.min.js")
  script.
    WebFont.load({
      google: {"families":["Lato:300,400,700,900"]},
      custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css']},
      active: function() {
        sessionStorage.fonts = true;
      }
    });

  link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
  link(rel="stylesheet", href="/assets/css/atlantis.css")
  link(rel="stylesheet", href="coba.css")