html
  include sections/head.pug

  body
    div(style='padding: 20px')
      each user in users
        .card
          .card-title #{user.username}
          .card-body
            div=user.username
            div=user.password