extends layouts/login

block content
  .wrapper.wrapper-login
    .container.container-login
      h1.text-center HR Information System
      h3.text-center Login
      form(action='/login' method='POST')
        .login-form
          .form-group.form-floating-label
            input.form-control.input-border-bottom(required=true name='username' type='text')
            label.placeholder(for='username') Username
          .form-group.form-floating-label
            input.form-control.input-border-bottom(required=true name='password' type='password')
            label.placeholder(for='password') Password
          .form-action.mb-3
            button.btn.btn-primary.btn-rounded.btn-login(type='submit') Login
          .msg.text-danger=message