doctype html
html(lang='en')
  // Mirrored from themekita.com/demo-atlantis-bootstrap/livepreview/examples/demo1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Nov 2019 02:46:19 GMT
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Atlantis Bootstrap 4 Admin Dashboard
    meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no', name='viewport')
    link(rel='icon', href='/assets/img/icon.ico', type='image/x-icon')
    // Fonts and icons
    script(src='/assets/js/plugin/webfont/webfont.min.js')
    script.
      WebFont.load({
      google: {"families":["Lato:300,400,700,900"]},
      custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css']},
      active: function() {
      sessionStorage.fonts = true;
      }
      });
    // CSS Files
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/atlantis.css')
    // CSS Just for demo purpose, don't include it in your project
    link(rel='stylesheet', href='/assets/css/demo.css')
  body
    .wrapper
      .main-header
        // Logo Header
        .logo-header(data-background-color='blue')
          a.logo(href='index-2.html')
            img.navbar-brand(src='/assets/img/logo.svg', alt='navbar brand')
          button.navbar-toggler.sidenav-toggler.ml-auto(type='button', data-toggle='collapse', data-target='collapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
              i.icon-menu
          button.topbar-toggler.more
            i.icon-options-vertical
          .nav-toggle
            button.btn.btn-toggle.toggle-sidebar
              i.icon-menu
        // End Logo Header
        // Navbar Header
        nav.navbar.navbar-header.navbar-expand-lg(data-background-color='blue2')
          .container-fluid
            #search-nav.collapse
              form.navbar-left.navbar-form.nav-search.mr-md-3
                .input-group
                  .input-group-prepend
                    button.btn.btn-search.pr-1(type='submit')
                      i.fa.fa-search.search-icon
                  input.form-control(type='text', placeholder='Search .')
            ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
              li.nav-item.toggle-nav-search.hidden-caret
                a.nav-link(data-toggle='collapse', href='#search-nav', role='button', aria-expanded='false', aria-controls='search-nav')
                  i.fa.fa-search
              li.nav-item.dropdown.hidden-caret
                a#messageDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fa.fa-envelope
                ul.dropdown-menu.messages-notif-box.animated.fadeIn(aria-labelledby='messageDropdown')
                  li
                    .dropdown-title.d-flex.justify-content-between.align-items-center
                      | Messages 									
                      a.small(href='#') Mark all as read
                  li
                    .message-notif-scroll.scrollbar-outer
                      .notif-center
                        a(href='#')
                          .notif-img
                            img(src='/assets/img/jm_denis.jpg', alt='Img Profile')
                          .notif-content
                            span.subject Jimmy Denis
                            span.block
                              | How are you ?
                            span.time 5 minutes ago
                        a(href='#')
                          .notif-img
                            img(src='/assets/img/chadengle.jpg', alt='Img Profile')
                          .notif-content
                            span.subject Chad
                            span.block
                              | Ok, Thanks !
                            span.time 12 minutes ago
                        a(href='#')
                          .notif-img
                            img(src='/assets/img/mlane.jpg', alt='Img Profile')
                          .notif-content
                            span.subject Jhon Doe
                            span.block
                              | Ready for the meeting today.
                            span.time 12 minutes ago
                        a(href='#')
                          .notif-img
                            img(src='/assets/img/talha.jpg', alt='Img Profile')
                          .notif-content
                            span.subject Talha
                            span.block
                              | Hi, Apa Kabar ?
                            span.time 17 minutes ago
                  li
                    a.see-all(href='javascript:void(0);')
                      | See all messages
                      i.fa.fa-angle-right
              li.nav-item.dropdown.hidden-caret
                a#notifDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fa.fa-bell
                  span.notification 4
                ul.dropdown-menu.notif-box.animated.fadeIn(aria-labelledby='notifDropdown')
                  li
                    .dropdown-title You have 4 new notification
                  li
                    .notif-scroll.scrollbar-outer
                      .notif-center
                        a(href='#')
                          .notif-icon.notif-primary
                            i.fa.fa-user-plus
                          .notif-content
                            span.block
                              | New user registered
                            span.time 5 minutes ago
                        a(href='#')
                          .notif-icon.notif-success
                            i.fa.fa-comment
                          .notif-content
                            span.block
                              | Rahmad commented on Admin
                            span.time 12 minutes ago
                        a(href='#')
                          .notif-img
                            img(src='/assets/img/profile2.jpg', alt='Img Profile')
                          .notif-content
                            span.block
                              | Reza send messages to you
                            span.time 12 minutes ago
                        a(href='#')
                          .notif-icon.notif-danger
                            i.fa.fa-heart
                          .notif-content
                            span.block
                              | Farrah liked Admin
                            span.time 17 minutes ago
                  li
                    a.see-all(href='javascript:void(0);')
                      | See all notifications
                      i.fa.fa-angle-right
              li.nav-item.dropdown.hidden-caret
                a.nav-link(data-toggle='dropdown', href='#', aria-expanded='false')
                  i.fas.fa-layer-group
                .dropdown-menu.quick-actions.quick-actions-info.animated.fadeIn
                  .quick-actions-header
                    span.title.mb-1 Quick Actions
                    span.subtitle.op-8 Shortcuts
                  .quick-actions-scroll.scrollbar-outer
                    .quick-actions-items
                      .row.m-0
                        a.col-6.col-md-4.p-0(href='#')
                          .quick-actions-item
                            .avatar-item.bg-danger.rounded-circle
                              i.far.fa-calendar-alt
                            span.text Calendar
                        a.col-6.col-md-4.p-0(href='#')
                          .quick-actions-item
                            .avatar-item.bg-warning.rounded-circle
                              i.fas.fa-map
                            span.text Maps
                        a.col-6.col-md-4.p-0(href='#')
                          .quick-actions-item
                            .avatar-item.bg-info.rounded-circle
                              i.fas.fa-file-excel
                            span.text Reports
                        a.col-6.col-md-4.p-0(href='#')
                          .quick-actions-item
                            .avatar-item.bg-success.rounded-circle
                              i.fas.fa-envelope
                            span.text Emails
                        a.col-6.col-md-4.p-0(href='#')
                          .quick-actions-item
                            .avatar-item.bg-primary.rounded-circle
                              i.fas.fa-file-invoice-dollar
                            span.text Invoice
                        a.col-6.col-md-4.p-0(href='#')
                          .quick-actions-item
                            .avatar-item.bg-secondary.rounded-circle
                              i.fas.fa-credit-card
                            span.text Payments
              li.nav-item
                a.nav-link.quick-sidebar-toggler(href='#')
                  i.fa.fa-th
              li.nav-item.dropdown.hidden-caret
                a.dropdown-toggle.profile-pic(data-toggle='dropdown', href='#', aria-expanded='false')
                  .avatar-sm
                    img.avatar-img.rounded-circle(src='/assets/img/profile.jpg', alt='.')
                ul.dropdown-menu.dropdown-user.animated.fadeIn
                  .dropdown-user-scroll.scrollbar-outer
                    li
                      .user-box
                        .avatar-lg
                          img.avatar-img.rounded(src='/assets/img/profile.jpg', alt='image profile')
                        .u-text
                          h4 Hizrian
                          p.text-muted hello@example.com
                          a.btn.btn-xs.btn-secondary.btn-sm(href='profile.html') View Profile
                    li
                      .dropdown-divider
                      a.dropdown-item(href='#') My Profile
                      a.dropdown-item(href='#') My Balance
                      a.dropdown-item(href='#') Inbox
                      .dropdown-divider
                      a.dropdown-item(href='#') Account Setting
                      .dropdown-divider
                      a.dropdown-item(href='#') Logout
        // End Navbar
        // Sidebar
        .sidebar.sidebar-style-2
          .sidebar-wrapper.scrollbar.scrollbar-inner
            .sidebar-content
              .user
                .avatar-sm.float-left.mr-2
                  img.avatar-img.rounded-circle(src='/assets/img/profile.jpg', alt='.')
                .info
                  a(data-toggle='collapse', href='#collapseExample', aria-expanded='true')
                    span
                      | Hizrian
                      span.user-level Administrator
                      span.caret
                  .clearfix
                  #collapseExample.collapse.in
                    ul.nav
                      li
                        a(href='#profile')
                          span.link-collapse My Profile
                      li
                        a(href='#edit')
                          span.link-collapse Edit Profile
                      li
                        a(href='#settings')
                          span.link-collapse Settings
              ul.nav.nav-primary
                li.nav-item.active
                  a.collapsed(data-toggle='collapse', href='#dashboard', aria-expanded='false')
                    i.fas.fa-home
                    p Dashboard
                    span.caret
                  #dashboard.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='index-2.html')
                          span.sub-item Dashboard 1
                      li
                        a(href='/demo2/index-2.html')
                          span.sub-item Dashboard 2
                      li
                        a(href='/demo3/index-2.html')
                          span.sub-item Dashboard 3
                      li
                        a(href='/demo4/index-2.html')
                          span.sub-item Dashboard 4
                      li
                        a(href='/demo5/index-2.html')
                          span.sub-item Dashboard 5
                      li
                        a(href='/demo6/index-2.html')
                          span.sub-item Dashboard 6
                      li
                        a(href='/demo7/index-2.html')
                          span.sub-item Dashboard 7
                      li
                        a(href='/demo8/index-2.html')
                          span.sub-item Dashboard 8
                      li
                        a(href='/demo9/index-2.html')
                          span.sub-item Dashboard 9
                li.nav-section
                  span.sidebar-mini-icon
                    i.fa.fa-ellipsis-h
                  h4.text-section Components
                li.nav-item
                  a(data-toggle='collapse', href='#base')
                    i.fas.fa-layer-group
                    p Base
                    span.caret
                  #base.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='components/avatars.html')
                          span.sub-item Avatars
                      li
                        a(href='components/buttons.html')
                          span.sub-item Buttons
                      li
                        a(href='components/gridsystem.html')
                          span.sub-item Grid System
                      li
                        a(href='components/panels.html')
                          span.sub-item Panels
                      li
                        a(href='components/notifications.html')
                          span.sub-item Notifications
                      li
                        a(href='components/sweetalert.html')
                          span.sub-item Sweet Alert
                      li
                        a(href='components/lists.html')
                          span.sub-item Lists
                      li
                        a(href='components/owl-carousel.html')
                          span.sub-item Owl Carousel
                      li
                        a(href='components/magnific-popup.html')
                          span.sub-item Magnific Popup
                      li
                        a(href='components/font-awesome-icons.html')
                          span.sub-item Font Awesome Icons
                      li
                        a(href='components/simple-line-icons.html')
                          span.sub-item Simple Line Icons
                      li
                        a(href='components/flaticons.html')
                          span.sub-item Flaticons
                      li
                        a(href='components/typography.html')
                          span.sub-item Typography
                li.nav-item
                  a(data-toggle='collapse', href='#sidebarLayouts')
                    i.fas.fa-th-list
                    p Sidebar Layouts
                    span.caret
                  #sidebarLayouts.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='sidebar-style-1.html')
                          span.sub-item Sidebar Style 1
                      li
                        a(href='overlay-sidebar.html')
                          span.sub-item Overlay Sidebar
                      li
                        a(href='compact-sidebar.html')
                          span.sub-item Compact Sidebar
                      li
                        a(href='static-sidebar.html')
                          span.sub-item Static Sidebar
                      li
                        a(href='icon-menu.html')
                          span.sub-item Icon Menu
                li.nav-item
                  a(data-toggle='collapse', href='#forms')
                    i.fas.fa-pen-square
                    p Forms
                    span.caret
                  #forms.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='forms/forms.html')
                          span.sub-item Basic Form
                      li
                        a(href='forms/formvalidation.html')
                          span.sub-item Form Validation
                      li
                        a(href='forms/formwidget.html')
                          span.sub-item Form Widget
                      li
                        a(href='forms/formwizard.html')
                          span.sub-item Form Wizard
                      li
                        a(href='forms/formupload.html')
                          span.sub-item Multiple Upload
                      li
                        a(href='forms/formwysiwyg.html')
                          span.sub-item WYSIWYG Editor
                li.nav-item
                  a(data-toggle='collapse', href='#tables')
                    i.fas.fa-table
                    p Tables
                    span.caret
                  #tables.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='tables/tables.html')
                          span.sub-item Basic Table
                      li
                        a(href='tables/datatables.html')
                          span.sub-item Datatables
                li.nav-item
                  a(data-toggle='collapse', href='#maps')
                    i.fas.fa-map-marker-alt
                    p Maps
                    span.caret
                  #maps.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='maps/googlemaps.html')
                          span.sub-item Google Maps
                      li
                        a(href='maps/fullscreenmaps.html')
                          span.sub-item Full Screen Maps
                      li
                        a(href='maps/jqvmap.html')
                          span.sub-item JQVMap
                li.nav-item
                  a(data-toggle='collapse', href='#charts')
                    i.far.fa-chart-bar
                    p Charts
                    span.caret
                  #charts.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='charts/charts.html')
                          span.sub-item Chart Js
                      li
                        a(href='charts/sparkline.html')
                          span.sub-item Sparkline
                li.nav-item
                  a(href='calendar.html')
                    i.far.fa-calendar-alt
                    p Calendar
                    span.badge.badge-info 1
                li.nav-item
                  a(href='widgets.html')
                    i.fas.fa-desktop
                    p Widgets
                    span.badge.badge-success 4
                li.nav-section
                  span.sidebar-mini-icon
                    i.fa.fa-ellipsis-h
                  h4.text-section Snippets
                li.nav-item
                  a(data-toggle='collapse', href='#email-nav')
                    i.far.fa-envelope
                    p Email
                    span.caret
                  #email-nav.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='email-inbox.html')
                          span.sub-item Inbox
                      li
                        a(href='email-compose.html')
                          span.sub-item Email Compose
                      li
                        a(href='email-detail.html')
                          span.sub-item Email Detail
                li.nav-item
                  a(data-toggle='collapse', href='#messages-app-nav')
                    i.far.fa-paper-plane
                    p Messages App
                    span.caret
                  #messages-app-nav.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='messages.html')
                          span.sub-item Messages
                      li
                        a(href='conversations.html')
                          span.sub-item Conversations
                li.nav-item
                  a(href='projects.html')
                    i.fas.fa-file-signature
                    p Projects
                    span.badge.badge-count 5
                li.nav-item
                  a(href='boards.html')
                    i.fas.fa-th-list
                    p Boards
                    span.badge.badge-count 4
                li.nav-item
                  a(href='invoice.html')
                    i.fas.fa-file-invoice-dollar
                    p Invoices
                    span.badge.badge-count 6
                li.nav-item
                  a(href='pricing.html')
                    i.fas.fa-tag
                    p Pricing
                    span.badge.badge-count 6
                li.nav-item
                  a(href='faqs.html')
                    i.far.fa-question-circle
                    p Faqs
                    span.badge.badge-count 6
                li.nav-item
                  a(data-toggle='collapse', href='#custompages')
                    i.fas.fa-paint-roller
                    p Custom Pages
                    span.caret
                  #custompages.collapse
                    ul.nav.nav-collapse
                      li
                        a(href='login.html')
                          span.sub-item Login & Register 1
                      li
                        a(href='login2.html')
                          span.sub-item Login & Register 2
                      li
                        a(href='login3.html')
                          span.sub-item Login & Register 3
                      li
                        a(href='userprofile.html')
                          span.sub-item User Profile
                      li
                        a(href='404.html')
                          span.sub-item 404
                li.nav-item
                  a(data-toggle='collapse', href='#submenu')
                    i.fas.fa-bars
                    p Menu Levels
                    span.caret
                  #submenu.collapse
                    ul.nav.nav-collapse
                      li
                        a(data-toggle='collapse', href='#subnav1')
                          span.sub-item Level 1
                          span.caret
                        #subnav1.collapse
                          ul.nav.nav-collapse.subnav
                            li
                              a(href='#')
                                span.sub-item Level 2
                            li
                              a(href='#')
                                span.sub-item Level 2
                      li
                        a(data-toggle='collapse', href='#subnav2')
                          span.sub-item Level 1
                          span.caret
                        #subnav2.collapse
                          ul.nav.nav-collapse.subnav
                            li
                              a(href='#')
                                span.sub-item Level 2
                      li
                        a(href='#')
                          span.sub-item Level 1
        // End Sidebar
        .main-panel
          .container
            .panel-header.bg-primary-gradient
              .page-inner.py-5
                .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
                  div
                    h2.text-white.pb-2.fw-bold Dashboard
                    h5.text-white.op-7.mb-2 Premium Bootstrap 4 Admin Dashboard
                  .ml-md-auto.py-2.py-md-0
                    a.btn.btn-white.btn-border.btn-round.mr-2(href='#') Manage
                    a.btn.btn-secondary.btn-round(href='#') Add Customer
            .page-inner.mt--5
              .row.mt--2
                .col-md-6
                  .card.full-height
                    .card-body
                      .card-title Overall statistics
                      .card-category Daily information about statistics in system
                      .d-flex.flex-wrap.justify-content-around.pb-2.pt-4
                        .px-2.pb-2.pb-md-0.text-center
                          #circles-1
                          h6.fw-bold.mt-3.mb-0 New Users
                        .px-2.pb-2.pb-md-0.text-center
                          #circles-2
                          h6.fw-bold.mt-3.mb-0 Sales
                        .px-2.pb-2.pb-md-0.text-center
                          #circles-3
                          h6.fw-bold.mt-3.mb-0 Subscribers
                .col-md-6
                  .card.full-height
                    .card-body
                      .card-title Total income & spend statistics
                      .row.py-3
                        .col-md-4.d-flex.flex-column.justify-content-around
                          div
                            h6.fw-bold.text-uppercase.text-success.op-8 Total Income
                            h3.fw-bold $9.782
                          div
                            h6.fw-bold.text-uppercase.text-danger.op-8 Total Spend
                            h3.fw-bold $1,248
                        .col-md-8
                          #chart-container
                            canvas#totalIncomeChart
              .row
                .col-md-8
                  .card
                    .card-header
                      .card-head-row
                        .card-title User Statistics
                        .card-tools
                          a.btn.btn-info.btn-border.btn-round.btn-sm.mr-2(href='#')
                            span.btn-label
                              i.fa.fa-pencil
                            | 												Export
                          a.btn.btn-info.btn-border.btn-round.btn-sm(href='#')
                            span.btn-label
                              i.fa.fa-print
                            | 												Print
                    .card-body
                      .chart-container(style='min-height: 375px')
                        canvas#statisticsChart
                      #myChartLegend
                .col-md-4
                  .card.card-primary
                    .card-header
                      .card-title Daily Sales
                      .card-category March 25 - April 02
                    .card-body.pb-0
                      .mb-4.mt-2
                        h1 $4,578.58
                      .pull-in
                        canvas#dailySalesChart
                  .card
                    .card-body.pb-0
                      .h1.fw-bold.float-right.text-warning +7%
                      h2.mb-2 213
                      p.text-muted Transactions
                      .pull-in.sparkline-fix
                        #lineChart
              .row.row-card-no-pd
                .col-md-12
                  .card
                    .card-header
                      .card-head-row.card-tools-still-right
                        h4.card-title Users Geolocation
                        .card-tools
                          button.btn.btn-icon.btn-link.btn-primary.btn-xs
                            span.fa.fa-angle-down
                          button.btn.btn-icon.btn-link.btn-primary.btn-xs.btn-refresh-card
                            span.fa.fa-sync-alt
                          button.btn.btn-icon.btn-link.btn-primary.btn-xs
                            span.fa.fa-times
                      p.card-category
                        | Map of the distribution of users around the world
                    .card-body
                      .row
                        .col-md-6
                          .table-responsive.table-hover.table-sales
                            table.table
                              tbody
                                tr
                                  td
                                    .flag
                                      img(src='/assets/img/flags/id.png', alt='indonesia')
                                  td Indonesia
                                  td.text-right
                                    | 2.320
                                  td.text-right
                                    | 42.18%
                                tr
                                  td
                                    .flag
                                      img(src='/assets/img/flags/us.png', alt='united states')
                                  td USA
                                  td.text-right
                                    | 240
                                  td.text-right
                                    | 4.36%
                                tr
                                  td
                                    .flag
                                      img(src='/assets/img/flags/au.png', alt='australia')
                                  td Australia
                                  td.text-right
                                    | 119
                                  td.text-right
                                    | 2.16%
                                tr
                                  td
                                    .flag
                                      img(src='/assets/img/flags/ru.png', alt='russia')
                                  td Russia
                                  td.text-right
                                    | 1.081
                                  td.text-right
                                    | 19.65%
                                tr
                                  td
                                    .flag
                                      img(src='/assets/img/flags/cn.png', alt='china')
                                  td China
                                  td.text-right
                                    | 1.100
                                  td.text-right
                                    | 20%
                                tr
                                  td
                                    .flag
                                      img(src='/assets/img/flags/br.png', alt='brazil')
                                  td Brasil
                                  td.text-right
                                    | 640
                                  td.text-right
                                    | 11.63%
                        .col-md-6
                          .mapcontainer
                            #map-example.vmap
              .row
                .col-md-4
                  .card
                    .card-header
                      .card-title Top Products
                    .card-body.pb-0
                      .d-flex
                        .avatar
                          img.avatar-img.rounded-circle(src='/assets/img/logoproduct.svg', alt='.')
                        .flex-1.pt-1.ml-2
                          h6.fw-bold.mb-1 CSS
                          small.text-muted Cascading Style Sheets
                        .d-flex.ml-auto.align-items-center
                          h3.text-info.fw-bold +$17
                      .separator-dashed
                      .d-flex
                        .avatar
                          img.avatar-img.rounded-circle(src='/assets/img/logoproduct.svg', alt='.')
                        .flex-1.pt-1.ml-2
                          h6.fw-bold.mb-1 J.CO Donuts
                          small.text-muted The Best Donuts
                        .d-flex.ml-auto.align-items-center
                          h3.text-info.fw-bold +$300
                      .separator-dashed
                      .d-flex
                        .avatar
                          img.avatar-img.rounded-circle(src='/assets/img/logoproduct3.svg', alt='.')
                        .flex-1.pt-1.ml-2
                          h6.fw-bold.mb-1 Ready Pro
                          small.text-muted Bootstrap 4 Admin Dashboard
                        .d-flex.ml-auto.align-items-center
                          h3.text-info.fw-bold +$350
                      .separator-dashed
                      .pull-in
                        canvas#topProductsChart
                .col-md-4
                  .card
                    .card-body
                      .card-title.fw-mediumbold Suggested People
                      .card-list
                        .item-list
                          .avatar
                            img.avatar-img.rounded-circle(src='/assets/img/jm_denis.jpg', alt='.')
                          .info-user.ml-3
                            .username Jimmy Denis
                            .status Graphic Designer
                          button.btn.btn-icon.btn-primary.btn-round.btn-xs
                            i.fa.fa-plus
                        .item-list
                          .avatar
                            img.avatar-img.rounded-circle(src='/assets/img/chadengle.jpg', alt='.')
                          .info-user.ml-3
                            .username Chad
                            .status CEO Zeleaf
                          button.btn.btn-icon.btn-primary.btn-round.btn-xs
                            i.fa.fa-plus
                        .item-list
                          .avatar
                            img.avatar-img.rounded-circle(src='/assets/img/talha.jpg', alt='.')
                          .info-user.ml-3
                            .username Talha
                            .status Front End Designer
                          button.btn.btn-icon.btn-primary.btn-round.btn-xs
                            i.fa.fa-plus
                        .item-list
                          .avatar
                            img.avatar-img.rounded-circle(src='/assets/img/mlane.jpg', alt='.')
                          .info-user.ml-3
                            .username John Doe
                            .status Back End Developer
                          button.btn.btn-icon.btn-primary.btn-round.btn-xs
                            i.fa.fa-plus
                        .item-list
                          .avatar
                            img.avatar-img.rounded-circle(src='/assets/img/talha.jpg', alt='.')
                          .info-user.ml-3
                            .username Talha
                            .status Front End Designer
                          button.btn.btn-icon.btn-primary.btn-round.btn-xs
                            i.fa.fa-plus
                        .item-list
                          .avatar
                            img.avatar-img.rounded-circle(src='/assets/img/jm_denis.jpg', alt='.')
                          .info-user.ml-3
                            .username Jimmy Denis
                            .status Graphic Designer
                          button.btn.btn-icon.btn-primary.btn-round.btn-xs
                            i.fa.fa-plus
                .col-md-4
                  .card.card-primary.bg-primary-gradient
                    .card-body
                      h4.mt-3.b-b1.pb-2.mb-4.fw-bold Active user right now
                      h1.mb-4.fw-bold 17
                      h4.mt-3.b-b1.pb-2.mb-5.fw-bold Page view per minutes
                      #activeUsersChart
                      h4.mt-5.pb-3.mb-0.fw-bold Top active pages
                      ul.list-unstyled
                        li.d-flex.justify-content-between.pb-1.pt-1
                          small /product/readypro/index.html
                          span 7
                        li.d-flex.justify-content-between.pb-1.pt-1
                          small /product/atlantis/demo.html
                          span 10
              .row
                .col-md-6
                  .card.full-height
                    .card-header
                      .card-title Feed Activity
                    .card-body
                      ol.activity-feed
                        li.feed-item.feed-item-secondary
                          time.date(datetime='9-25') Sep 25
                          span.text
                            | Responded to need 
                            a(href='#') "Volunteer opportunity"
                        li.feed-item.feed-item-success
                          time.date(datetime='9-24') Sep 24
                          span.text
                            | Added an interest 
                            a(href='#') "Volunteer Activities"
                        li.feed-item.feed-item-info
                          time.date(datetime='9-23') Sep 23
                          span.text
                            | Joined the group 
                            a(href='single-group.html') "Boardsmanship Forum"
                        li.feed-item.feed-item-warning
                          time.date(datetime='9-21') Sep 21
                          span.text
                            | Responded to need 
                            a(href='#') "In-Kind Opportunity"
                        li.feed-item.feed-item-danger
                          time.date(datetime='9-18') Sep 18
                          span.text
                            | Created need 
                            a(href='#') "Volunteer Opportunity"
                        li.feed-item
                          time.date(datetime='9-17') Sep 17
                          span.text
                            | Attending the event 
                            a(href='single-event.html') "Some New Event"
                .col-md-6
                  .card.full-height
                    .card-header
                      .card-head-row
                        .card-title Support Tickets
                        .card-tools
                          ul#pills-tab.nav.nav-pills.nav-secondary.nav-pills-no-bd.nav-sm(role='tablist')
                            li.nav-item
                              a#pills-today.nav-link(data-toggle='pill', href='#pills-today', role='tab', aria-selected='true') Today
                            li.nav-item
                              a#pills-week.nav-link.active(data-toggle='pill', href='#pills-week', role='tab', aria-selected='false') Week
                            li.nav-item
                              a#pills-month.nav-link(data-toggle='pill', href='#pills-month', role='tab', aria-selected='false') Month
                    .card-body
                      .d-flex
                        .avatar.avatar-online
                          span.avatar-title.rounded-circle.border.border-white.bg-info J
                        .flex-1.ml-3.pt-1
                          h6.text-uppercase.fw-bold.mb-1
                            | Joko Subianto 
                            span.text-warning.pl-3 pending
                          span.text-muted I am facing some trouble with my viewport. When i start my
                        .float-right.pt-1
                          small.text-muted 8:40 PM
                      .separator-dashed
                      .d-flex
                        .avatar.avatar-offline
                          span.avatar-title.rounded-circle.border.border-white.bg-secondary P
                        .flex-1.ml-3.pt-1
                          h6.text-uppercase.fw-bold.mb-1
                            | Prabowo Widodo 
                            span.text-success.pl-3 open
                          span.text-muted I have some query regarding the license issue.
                        .float-right.pt-1
                          small.text-muted 1 Day Ago
                      .separator-dashed
                      .d-flex
                        .avatar.avatar-away
                          span.avatar-title.rounded-circle.border.border-white.bg-danger L
                        .flex-1.ml-3.pt-1
                          h6.text-uppercase.fw-bold.mb-1
                            | Lee Chong Wei 
                            span.text-muted.pl-3 closed
                          span.text-muted Is there any update plan for RTL version near future?
                        .float-right.pt-1
                          small.text-muted 2 Days Ago
                      .separator-dashed
                      .d-flex
                        .avatar.avatar-offline
                          span.avatar-title.rounded-circle.border.border-white.bg-secondary P
                        .flex-1.ml-3.pt-1
                          h6.text-uppercase.fw-bold.mb-1
                            | Peter Parker 
                            span.text-success.pl-3 open
                          span.text-muted I have some query regarding the license issue.
                        .float-right.pt-1
                          small.text-muted 2 Day Ago
                      .separator-dashed
                      .d-flex
                        .avatar.avatar-away
                          span.avatar-title.rounded-circle.border.border-white.bg-danger L
                        .flex-1.ml-3.pt-1
                          h6.text-uppercase.fw-bold.mb-1
                            | Logan Paul 
                            span.text-muted.pl-3 closed
                          span.text-muted Is there any update plan for RTL version near future?
                        .float-right.pt-1
                          small.text-muted 2 Days Ago
          footer.footer
            .container-fluid
              nav.pull-left
                ul.nav
                  li.nav-item
                    a.nav-link(href='http://www.themekita.com/')
                      | ThemeKita
                  li.nav-item
                    a.nav-link(href='#')
                      | Help
                  li.nav-item
                    a.nav-link(href='#')
                      | Licenses
              .copyright.ml-auto
                | 2018, made with 
                i.fa.fa-heart.heart.text-danger
                |  by 
                a(href='http://www.themekita.com/') ThemeKita
        .quick-sidebar
          a.close-quick-sidebar(href='#')
            i.flaticon-cross
          .quick-sidebar-wrapper
            ul.nav.nav-tabs.nav-line.nav-color-secondary(role='tablist')
              li.nav-item
                a.nav-link.active.show(data-toggle='tab', href='#messages', role='tab', aria-selected='true') Messages
              li.nav-item
                a.nav-link(data-toggle='tab', href='#tasks', role='tab', aria-selected='false') Tasks
              li.nav-item
                a.nav-link(data-toggle='tab', href='#settings', role='tab', aria-selected='false') Settings
            .tab-content.mt-3
              #messages.tab-chat.tab-pane.fade.show.active(role='tabpanel')
                .messages-contact
                  .quick-wrapper
                    .quick-scroll.scrollbar-outer
                      .quick-content.contact-content
                        span.category-title.mt-0 Contacts
                        .avatar-group
                          .avatar
                            img.avatar-img.rounded-circle.border.border-white(src='/assets/img/jm_denis.jpg', alt='.')
                          .avatar
                            img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                          .avatar
                            img.avatar-img.rounded-circle.border.border-white(src='/assets/img/mlane.jpg', alt='.')
                          .avatar
                            img.avatar-img.rounded-circle.border.border-white(src='/assets/img/talha.jpg', alt='.')
                          .avatar
                            span.avatar-title.rounded-circle.border.border-white +
                        span.category-title Recent
                        .contact-list.contact-list-recent
                          .user
                            a(href='#')
                              .avatar.avatar-online
                                img.avatar-img.rounded-circle.border.border-white(src='/assets/img/jm_denis.jpg', alt='.')
                              .user-data
                                span.name Jimmy Denis
                                span.message How are you ?
                          .user
                            a(href='#')
                              .avatar.avatar-offline
                                img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                              .user-data
                                span.name Chad
                                span.message Ok, Thanks !
                          .user
                            a(href='#')
                              .avatar.avatar-offline
                                img.avatar-img.rounded-circle.border.border-white(src='/assets/img/mlane.jpg', alt='.')
                              .user-data
                                span.name John Doe
                                span.message Ready for the meeting today with.
                        span.category-title Other Contacts
                        .contact-list
                          .user
                            a(href='#')
                              .avatar.avatar-online
                                img.avatar-img.rounded-circle.border.border-white(src='/assets/img/jm_denis.jpg', alt='.')
                              .user-data2
                                span.name Jimmy Denis
                                span.status Online
                          .user
                            a(href='#')
                              .avatar.avatar-offline
                                img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                              .user-data2
                                span.name Chad
                                span.status Active 2h ago
                          .user
                            a(href='#')
                              .avatar.avatar-away
                                img.avatar-img.rounded-circle.border.border-white(src='/assets/img/talha.jpg', alt='.')
                              .user-data2
                                span.name Talha
                                span.status Away
                .messages-wrapper
                  .messages-title
                    .user
                      .avatar.avatar-offline.float-right.ml-2
                        img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                      span.name Chad
                      span.last-active Active 2h ago
                    button.return
                      i.flaticon-left-arrow-3
                  .messages-body.messages-scroll.scrollbar-outer
                    .message-content-wrapper
                      .message.message-in
                        .avatar.avatar-sm
                          img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                        .message-body
                          .message-content
                            .name Chad
                            .content Hello, Rian
                          .date 12.31
                    .message-content-wrapper
                      .message.message-out
                        .message-body
                          .message-content
                            .content
                              | Hello, Chad
                          .message-content
                            .content
                              | What's up?
                          .date 12.35
                    .message-content-wrapper
                      .message.message-in
                        .avatar.avatar-sm
                          img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                        .message-body
                          .message-content
                            .name Chad
                            .content
                              | Thanks
                          .message-content
                            .content
                              | When is the deadline of the project we are working on ?
                          .date 13.00
                    .message-content-wrapper
                      .message.message-out
                        .message-body
                          .message-content
                            .content
                              | The deadline is about 2 months away
                          .date 13.10
                    .message-content-wrapper
                      .message.message-in
                        .avatar.avatar-sm
                          img.avatar-img.rounded-circle.border.border-white(src='/assets/img/chadengle.jpg', alt='.')
                        .message-body
                          .message-content
                            .name Chad
                            .content
                              | Ok, Thanks !
                          .date 13.15
                  .messages-form
                    .messages-form-control
                      input.form-control.input-pill.input-solid.message-input(type='text', placeholder='Type here')
                    .messages-form-tool
                      a.attachment(href='#')
                        i.flaticon-file
              #tasks.tab-pane.fade(role='tabpanel')
                .quick-wrapper.tasks-wrapper
                  .tasks-scroll.scrollbar-outer
                    .tasks-content
                      span.category-title.mt-0 Today
                      ul.tasks-list
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox', checked='')
                            span.custom-control-label Planning new project structure
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label Create the main structure							
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label Add new Post
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label Finalise the design proposal
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                      span.category-title Tomorrow
                      ul.tasks-list
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label Initialize the project							
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label Create the main structure							
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label Updates changes to GitHub							
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                        li
                          label.custom-checkbox.custom-control.checkbox-secondary
                            input.custom-control-input(type='checkbox')
                            span.custom-control-label(title='This task is too long to be displayed in a normal space!') This task is too long to be displayed in a normal space!				
                            span.task-action
                              a.link.text-danger(href='#')
                                i.flaticon-interface-5
                      .mt-3
                        .btn.btn-primary.btn-rounded.btn-sm
                          span.btn-label
                            i.fa.fa-plus
                          | 											Add Task
              #settings.tab-pane.fade(role='tabpanel')
                .quick-wrapper.settings-wrapper
                  .quick-scroll.scrollbar-outer
                    .quick-content.settings-content
                      span.category-title.mt-0 General Settings
                      ul.settings-list
                        li
                          span.item-label Enable Notifications
                          .item-control
                            input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary', data-style='btn-round', data-size='')
                        li
                          span.item-label Signin with social media
                          .item-control
                            input(type='checkbox', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                        li
                          span.item-label Backup storage
                          .item-control
                            input(type='checkbox', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                        li
                          span.item-label SMS Alert
                          .item-control
                            input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                      span.category-title.mt-0 Notifications
                      ul.settings-list
                        li
                          span.item-label Email Notifications
                          .item-control
                            input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                        li
                          span.item-label New Comments
                          .item-control
                            input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                        li
                          span.item-label Chat Messages
                          .item-control
                            input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                        li
                          span.item-label Project Updates
                          .item-control
                            input(type='checkbox', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
                        li
                          span.item-label New Tasks
                          .item-control
                            input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary', data-style='btn-round')
        // Custom template | don't include it in your project!
        .custom-template
          .title Settings
          .custom-content
            .switcher
              .switch-block
                h4 Logo Header
                .btnSwitch
                  button.changeLogoHeaderColor(type='button', data-color='dark')
                  button.selected.changeLogoHeaderColor(type='button', data-color='blue')
                  button.changeLogoHeaderColor(type='button', data-color='purple')
                  button.changeLogoHeaderColor(type='button', data-color='light-blue')
                  button.changeLogoHeaderColor(type='button', data-color='green')
                  button.changeLogoHeaderColor(type='button', data-color='orange')
                  button.changeLogoHeaderColor(type='button', data-color='red')
                  button.changeLogoHeaderColor(type='button', data-color='white')
                  br
                  button.changeLogoHeaderColor(type='button', data-color='dark2')
                  button.changeLogoHeaderColor(type='button', data-color='blue2')
                  button.changeLogoHeaderColor(type='button', data-color='purple2')
                  button.changeLogoHeaderColor(type='button', data-color='light-blue2')
                  button.changeLogoHeaderColor(type='button', data-color='green2')
                  button.changeLogoHeaderColor(type='button', data-color='orange2')
                  button.changeLogoHeaderColor(type='button', data-color='red2')
              .switch-block
                h4 Navbar Header
                .btnSwitch
                  button.changeTopBarColor(type='button', data-color='dark')
                  button.changeTopBarColor(type='button', data-color='blue')
                  button.changeTopBarColor(type='button', data-color='purple')
                  button.changeTopBarColor(type='button', data-color='light-blue')
                  button.changeTopBarColor(type='button', data-color='green')
                  button.changeTopBarColor(type='button', data-color='orange')
                  button.changeTopBarColor(type='button', data-color='red')
                  button.changeTopBarColor(type='button', data-color='white')
                  br
                  button.changeTopBarColor(type='button', data-color='dark2')
                  button.selected.changeTopBarColor(type='button', data-color='blue2')
                  button.changeTopBarColor(type='button', data-color='purple2')
                  button.changeTopBarColor(type='button', data-color='light-blue2')
                  button.changeTopBarColor(type='button', data-color='green2')
                  button.changeTopBarColor(type='button', data-color='orange2')
                  button.changeTopBarColor(type='button', data-color='red2')
              .switch-block
                h4 Sidebar
                .btnSwitch
                  button.selected.changeSideBarColor(type='button', data-color='white')
                  button.changeSideBarColor(type='button', data-color='dark')
                  button.changeSideBarColor(type='button', data-color='dark2')
              .switch-block
                h4 Background
                .btnSwitch
                  button.changeBackgroundColor(type='button', data-color='bg2')
                  button.changeBackgroundColor.selected(type='button', data-color='bg1')
                  button.changeBackgroundColor(type='button', data-color='bg3')
                  button.changeBackgroundColor(type='button', data-color='dark')
          .custom-toggle
            i.flaticon-settings
        // End Custom template
        // Core JS Files
        script(src='/assets/js/core/jquery.3.2.1.min.js')
        script(src='/assets/js/core/popper.min.js')
        script(src='/assets/js/core/bootstrap.min.js')
        // jQuery UI
        script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
        // jQuery Scrollbar
        script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
        // Moment JS
        script(src='/assets/js/plugin/moment/moment.min.js')
        // Chart JS
        script(src='/assets/js/plugin/chart.js/chart.min.js')
        // jQuery Sparkline
        script(src='/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')
        // Chart Circle
        script(src='/assets/js/plugin/chart-circle/circles.min.js')
        // Datatables
        script(src='/assets/js/plugin/datatables/datatables.min.js')
        // Bootstrap Notify
        script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
        // Bootstrap Toggle
        script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
        // jQuery Vector Maps
        script(src='/assets/js/plugin/jqvmap/jquery.vmap.min.js')
        script(src='/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')
        // Google Maps Plugin
        script(src='/assets/js/plugin/gmaps/gmaps.js')
        // Dropzone
        script(src='/assets/js/plugin/dropzone/dropzone.min.js')
        // Fullcalendar
        script(src='/assets/js/plugin/fullcalendar/fullcalendar.min.js')
        // DateTimePicker
        script(src='/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js')
        // Bootstrap Tagsinput
        script(src='/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js')
        // Bootstrap Wizard
        script(src='/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js')
        // jQuery Validation
        script(src='/assets/js/plugin/jquery.validate/jquery.validate.min.js')
        // Summernote
        script(src='/assets/js/plugin/summernote/summernote-bs4.min.js')
        // Select2
        script(src='/assets/js/plugin/select2/select2.full.min.js')
        // Sweet Alert
        script(src='/assets/js/plugin/sweetalert/sweetalert.min.js')
        // Owl Carousel
        script(src='/assets/js/plugin/owl-carousel/owl.carousel.min.js')
        // Magnific Popup
        script(src='/assets/js/plugin/jquery.magnific-popup/jquery.magnific-popup.min.js')
        // Atlantis JS
        script(src='/assets/js/atlantis.min.js')
        // Atlantis DEMO methods, don't include it in your project!
        script(src='/assets/js/setting-demo.js')
        script(src='/assets/js/demo.js')
        script.
          Circles.create({
          id:'circles-1',
          radius:45,
          value:60,
          maxValue:100,
          width:7,
          text: 5,
          colors:['#f1f1f1', '#FF9E27'],
          duration:400,
          wrpClass:'circles-wrp',
          textClass:'circles-text',
          styleWrapper:true,
          styleText:true
          })
          Circles.create({
          id:'circles-2',
          radius:45,
          value:70,
          maxValue:100,
          width:7,
          text: 36,
          colors:['#f1f1f1', '#2BB930'],
          duration:400,
          wrpClass:'circles-wrp',
          textClass:'circles-text',
          styleWrapper:true,
          styleText:true
          })
          Circles.create({
          id:'circles-3',
          radius:45,
          value:40,
          maxValue:100,
          width:7,
          text: 12,
          colors:['#f1f1f1', '#F25961'],
          duration:400,
          wrpClass:'circles-wrp',
          textClass:'circles-text',
          styleWrapper:true,
          styleText:true
          })
          var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');
          var mytotalIncomeChart = new Chart(totalIncomeChart, {
          type: 'bar',
          data: {
          labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
          datasets : [{
          label: "Total Income",
          backgroundColor: '#ff9e27',
          borderColor: 'rgb(23, 125, 255)',
          data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
          }],
          },
          options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
          display: false,
          },
          scales: {
          yAxes: [{
          ticks: {
          display: false //this will remove only the label
          },
          gridLines : {
          drawBorder: false,
          display : false
          }
          }],
          xAxes : [ {
          gridLines : {
          drawBorder: false,
          display : false
          }
          }]
          },
          }
          });
          $('#lineChart').sparkline([105,103,123,100,95,105,115], {
          type: 'line',
          height: '70',
          width: '100%',
          lineWidth: '2',
          lineColor: '#ffa534',
          fillColor: 'rgba(255, 165, 52, .14)'
          });
        // Mirrored from themekita.com/demo-atlantis-bootstrap/livepreview/examples/demo1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Nov 2019 02:46:19 GMT
