.logo-header(data-background-color='blue')
  a.logo(href='index-2.html')
    img.navbar-brand(src='../assets/img/logo.svg', alt='navbar brand')
  button.navbar-toggler.sidenav-toggler.ml-auto(type='button', data-toggle='collapse', data-target='collapse', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
      i.icon-menu
  button.topbar-toggler.more
    i.icon-options-vertical
  .nav-toggle
    button.btn.btn-toggle.toggle-sidebar
      i.icon-menu