title #{title !== nil ? title : 'HR Information System'}

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
meta(name='description', content='HR Information Sysytem')
meta(name='author', content='Rumah Sakit Islam Sultan Agung')
meta(name='description', content='HR Information Sysytem')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='http://google.com')
meta(name='twitter:description', content='HR Information Sysytem')
meta(name='twitter:title', content='HR Information Sysytem')
meta(name='twitter:image', content='https://lh3.googleusercontent.com/QCgw71KcFDkyif9raDA_gYycipgAfNGW7aXEgLk6G-uAbFl8ZBE5TO8XqizG8m9MIA=s180-rw')

link(rel='icon' href='/images/logo.png')

link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
link(rel='stylesheet', href='/assets/css/atlantis.css')

script(src='/assets/js/plugin/webfont/webfont.min.js')

script.
  WebFont.load({
    google: {"families":["Lato:300,400,700,900"]},
    custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css']},
    active: function() {
        sessionStorage.fonts = true;
    }
  });
