// Core JS Files
script(src='/assets/js/core/jquery.3.2.1.min.js')
script(src='/assets/js/core/popper.min.js')
script(src='/assets/js/core/bootstrap.min.js')
// jQuery UI
script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
// jQuery Scrollbar
script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
// Moment JS
script(src='/assets/js/plugin/moment/moment.min.js')
// Chart JS
script(src='/assets/js/plugin/chart.js/chart.min.js')
// jQuery Sparkline
script(src='/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')
// Chart Circle
script(src='/assets/js/plugin/chart-circle/circles.min.js')
// Datatables
script(src='/assets/js/plugin/datatables/datatables.min.js')
// Bootstrap Notify
script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
// Bootstrap Toggle
script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
// jQuery Vector Maps
script(src='/assets/js/plugin/jqvmap/jquery.vmap.min.js')
script(src='/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')
// Google Maps Plugin
script(src='/assets/js/plugin/gmaps/gmaps.js')
// Dropzone
script(src='/assets/js/plugin/dropzone/dropzone.min.js')
// Fullcalendar
script(src='/assets/js/plugin/fullcalendar/fullcalendar.min.js')
// DateTimePicker
script(src='/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js')
// Bootstrap Tagsinput
script(src='/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js')
// Bootstrap Wizard
script(src='/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js')
// jQuery Validation
script(src='/assets/js/plugin/jquery.validate/jquery.validate.min.js')
// Summernote
script(src='/assets/js/plugin/summernote/summernote-bs4.min.js')
// Select2
script(src='/assets/js/plugin/select2/select2.full.min.js')
// Sweet Alert
script(src='/assets/js/plugin/sweetalert/sweetalert.min.js')
// Owl Carousel
script(src='/assets/js/plugin/owl-carousel/owl.carousel.min.js')
// Magnific Popup
script(src='/assets/js/plugin/jquery.magnific-popup/jquery.magnific-popup.min.js')
// Atlantis JS
script(src='/assets/js/atlantis.min.js')
