.sidebar.sidebar-style-2
  .sidebar-wrapper.scrollbar.scrollbar-inner
    .sidebar-content
      .user
        .avatar-sm.float-left.mr-2
          img.avatar-img.rounded-circle(src='../assets/img/profile.jpg', alt='...')
        .info
          a(data-toggle='collapse', href='#collapseExample', aria-expanded='true')
            span
              | Hizrian
              span.user-level Administrator
              span.caret
          .clearfix
          #collapseExample.collapse.in
            ul.nav
              li
                a(href='#profile')
                  span.link-collapse My Profile
              li
                a(href='#edit')
                  span.link-collapse Edit Profile
              li
                a(href='#settings')
                  span.link-collapse Settings
      ul.nav.nav-primary
        li.nav-item.active
          a.collapsed(data-toggle='collapse', href='#dashboard', aria-expanded='false')
            i.fas.fa-home
            p Dashboard
            span.caret
          #dashboard.collapse
            ul.nav.nav-collapse
              li
                a(href='index-2.html')
                  span.sub-item Dashboard 1
              li
                a(href='../demo2/index-2.html')
                  span.sub-item Dashboard 2
              li
                a(href='../demo3/index-2.html')
                  span.sub-item Dashboard 3
              li
                a(href='../demo4/index-2.html')
                  span.sub-item Dashboard 4
              li
                a(href='../demo5/index-2.html')
                  span.sub-item Dashboard 5
              li
                a(href='../demo6/index-2.html')
                  span.sub-item Dashboard 6
              li
                a(href='../demo7/index-2.html')
                  span.sub-item Dashboard 7
              li
                a(href='../demo8/index-2.html')
                  span.sub-item Dashboard 8
              li
                a(href='../demo9/index-2.html')
                  span.sub-item Dashboard 9
        li.nav-section
          span.sidebar-mini-icon
            i.fa.fa-ellipsis-h
          h4.text-section Components
        li.nav-item
          a(data-toggle='collapse', href='#base')
            i.fas.fa-layer-group
            p Base
            span.caret
          #base.collapse
            ul.nav.nav-collapse
              li
                a(href='components/avatars.html')
                  span.sub-item Avatars
              li
                a(href='components/buttons.html')
                  span.sub-item Buttons
              li
                a(href='components/gridsystem.html')
                  span.sub-item Grid System
              li
                a(href='components/panels.html')
                  span.sub-item Panels
              li
                a(href='components/notifications.html')
                  span.sub-item Notifications
              li
                a(href='components/sweetalert.html')
                  span.sub-item Sweet Alert
              li
                a(href='components/lists.html')
                  span.sub-item Lists
              li
                a(href='components/owl-carousel.html')
                  span.sub-item Owl Carousel
              li
                a(href='components/magnific-popup.html')
                  span.sub-item Magnific Popup
              li
                a(href='components/font-awesome-icons.html')
                  span.sub-item Font Awesome Icons
              li
                a(href='components/simple-line-icons.html')
                  span.sub-item Simple Line Icons
              li
                a(href='components/flaticons.html')
                  span.sub-item Flaticons
              li
                a(href='components/typography.html')
                  span.sub-item Typography
        li.nav-item
          a(data-toggle='collapse', href='#sidebarLayouts')
            i.fas.fa-th-list
            p Sidebar Layouts
            span.caret
          #sidebarLayouts.collapse
            ul.nav.nav-collapse
              li
                a(href='sidebar-style-1.html')
                  span.sub-item Sidebar Style 1
              li
                a(href='overlay-sidebar.html')
                  span.sub-item Overlay Sidebar
              li
                a(href='compact-sidebar.html')
                  span.sub-item Compact Sidebar
              li
                a(href='static-sidebar.html')
                  span.sub-item Static Sidebar
              li
                a(href='icon-menu.html')
                  span.sub-item Icon Menu
        li.nav-item
          a(data-toggle='collapse', href='#forms')
            i.fas.fa-pen-square
            p Forms
            span.caret
          #forms.collapse
            ul.nav.nav-collapse
              li
                a(href='forms/forms.html')
                  span.sub-item Basic Form
              li
                a(href='forms/formvalidation.html')
                  span.sub-item Form Validation
              li
                a(href='forms/formwidget.html')
                  span.sub-item Form Widget
              li
                a(href='forms/formwizard.html')
                  span.sub-item Form Wizard
              li
                a(href='forms/formupload.html')
                  span.sub-item Multiple Upload
              li
                a(href='forms/formwysiwyg.html')
                  span.sub-item WYSIWYG Editor
        li.nav-item
          a(data-toggle='collapse', href='#tables')
            i.fas.fa-table
            p Tables
            span.caret
          #tables.collapse
            ul.nav.nav-collapse
              li
                a(href='tables/tables.html')
                  span.sub-item Basic Table
              li
                a(href='tables/datatables.html')
                  span.sub-item Datatables
        li.nav-item
          a(data-toggle='collapse', href='#maps')
            i.fas.fa-map-marker-alt
            p Maps
            span.caret
          #maps.collapse
            ul.nav.nav-collapse
              li
                a(href='maps/googlemaps.html')
                  span.sub-item Google Maps
              li
                a(href='maps/fullscreenmaps.html')
                  span.sub-item Full Screen Maps
              li
                a(href='maps/jqvmap.html')
                  span.sub-item JQVMap
        li.nav-item
          a(data-toggle='collapse', href='#charts')
            i.far.fa-chart-bar
            p Charts
            span.caret
          #charts.collapse
            ul.nav.nav-collapse
              li
                a(href='charts/charts.html')
                  span.sub-item Chart Js
              li
                a(href='charts/sparkline.html')
                  span.sub-item Sparkline
        li.nav-item
          a(href='calendar.html')
            i.far.fa-calendar-alt
            p Calendar
            span.badge.badge-info 1
        li.nav-item
          a(href='widgets.html')
            i.fas.fa-desktop
            p Widgets
            span.badge.badge-success 4
        li.nav-section
          span.sidebar-mini-icon
            i.fa.fa-ellipsis-h
          h4.text-section Snippets
        li.nav-item
          a(data-toggle='collapse', href='#email-nav')
            i.far.fa-envelope
            p Email
            span.caret
          #email-nav.collapse
            ul.nav.nav-collapse
              li
                a(href='email-inbox.html')
                  span.sub-item Inbox
              li
                a(href='email-compose.html')
                  span.sub-item Email Compose
              li
                a(href='email-detail.html')
                  span.sub-item Email Detail
        li.nav-item
          a(data-toggle='collapse', href='#messages-app-nav')
            i.far.fa-paper-plane
            p Messages App
            span.caret
          #messages-app-nav.collapse
            ul.nav.nav-collapse
              li
                a(href='messages.html')
                  span.sub-item Messages
              li
                a(href='conversations.html')
                  span.sub-item Conversations
        li.nav-item
          a(href='projects.html')
            i.fas.fa-file-signature
            p Projects
            span.badge.badge-count 5
        li.nav-item
          a(href='boards.html')
            i.fas.fa-th-list
            p Boards
            span.badge.badge-count 4
        li.nav-item
          a(href='invoice.html')
            i.fas.fa-file-invoice-dollar
            p Invoices
            span.badge.badge-count 6
        li.nav-item
          a(href='pricing.html')
            i.fas.fa-tag
            p Pricing
            span.badge.badge-count 6
        li.nav-item
          a(href='faqs.html')
            i.far.fa-question-circle
            p Faqs
            span.badge.badge-count 6
        li.nav-item
          a(data-toggle='collapse', href='#custompages')
            i.fas.fa-paint-roller
            p Custom Pages
            span.caret
          #custompages.collapse
            ul.nav.nav-collapse
              li
                a(href='login.html')
                  span.sub-item Login & Register 1
              li
                a(href='login2.html')
                  span.sub-item Login & Register 2
              li
                a(href='login3.html')
                  span.sub-item Login & Register 3
              li
                a(href='userprofile.html')
                  span.sub-item User Profile
              li
                a(href='404.html')
                  span.sub-item 404
        li.nav-item
          a(data-toggle='collapse', href='#submenu')
            i.fas.fa-bars
            p Menu Levels
            span.caret
          #submenu.collapse
            ul.nav.nav-collapse
              li
                a(data-toggle='collapse', href='#subnav1')
                  span.sub-item Level 1
                  span.caret
                #subnav1.collapse
                  ul.nav.nav-collapse.subnav
                    li
                      a(href='#')
                        span.sub-item Level 2
                    li
                      a(href='#')
                        span.sub-item Level 2
              li
                a(data-toggle='collapse', href='#subnav2')
                  span.sub-item Level 1
                  span.caret
                #subnav2.collapse
                  ul.nav.nav-collapse.subnav
                    li
                      a(href='#')
                        span.sub-item Level 2
              li
                a(href='#')
                  span.sub-item Level 1
